node_modules
public
.tmp
.idea
client/bower_components
server/client/bower_components
dist
data
server/config/local.env.js
server/config/environment
server/images/
server/tmp/
*.iml
client-phone/www/lib
.DS_Store
