<ion-view view-title="Devices">
  <ion-nav-buttons side="primary">
    <button class="button ion-android-exit" ng-click="logout()"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh.." on-refresh="doRefresh()"></ion-refresher>
    <ion-list>
      <div ng-show="!profile.watchs.length">Vous n'avez pas de devices</div>
      <ion-item class="list card item-remove-animate item-icon-right" ng-hide="!profile.watchs.length"
                class="panel panel-default" ng-repeat="device in profile.watchs">
        <div class="item">
          <h3 class="panel-title">Capteur :{{device.device.name}} </h3>
          SN: {{device.device.serial}} - Description: {{device.device.description}}
          <h4 ng-if="type(device)" class="text-danger pull-right">Owner</h4>
          <h4 ng-if="!type(device)" class="text-danger pull-right">subscribe</h4>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </div>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap"
                href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">

        <h2>{{chat.name}}</h2>

        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
