<ion-view view-title="Add">
  <ion-nav-buttons side="primary">
    <button class="button ion-android-exit button-stable" ng-click="logout()">
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <ion-refresher pulling-text="Pull to refresh.." on-refresh="doRefresh()"></ion-refresher>
    <div class="item">
      Ajouter un device (Propriétaire): <input type="checkbox" ng-model="checked" ng-init="checked=false"/><br/>
    </div>
    <div class="item item-energized" ng-if="checked">
      <i class="icon ion-alert-circled"></i>
      This is reserved to the device owner, please contact orange partner for more information
    </div>
    <div class="item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input name="serial" type="text" placeholder="device serial" ng-model="device.serial">
      </label>
      <button class="button button-clear" ng-click="scanBarcode()">
        Scan
      </button>
    </div>

    <div ng-if="!checked">
      <form class="navbar-form" name="addDevice" ng-submit="register()">
        <label>Serial Number :</label>
        <button type="submit" class="btn btn-success">
          Subscribe
        </button>
      </form>
    </div>
    <div ng-if="checked">
      <form class="navbar-form" name="addDevice" ng-submit="registerO()">
        <label>Serial Number :</label>
        <input name="serial" type="text" ng-model="device.serial" required>
        <label>PIN Code:</label>
        <input name="serial" type="password" ng-model="device.pass" required>
        <button type="submit" class="btn btn-success">
          Ajouter
        </button>
      </form>
    </div>
    <ion-list>
      <div ng-show="!profile.watchs.length">Vous n'avez pas de devices</div>
      <ion-item class="list card item-remove-animate item-icon-right" ng-hide="!profile.watchs.length"
                class="panel panel-default" ng-repeat="device in profile.watchs">
        <div class="item">
          <h3 class="panel-title">Capteur :{{device.device.name}} </h3>
          SN: {{device.device.serial}} - Description: {{device.device.description}}
          <h4 ng-if="type(device)" class="text-danger pull-right">Owner</h4>
          <h4 ng-if="!type(device)" class="text-danger pull-right">subscribe</h4>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </div>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap"
                href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">

        <h2>{{chat.name}}</h2>

        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
