<ion-view view-title="Requests">
  <ion-nav-buttons side="primary">
    <button class="button ion-android-exit button-stable" ng-click="logout()">
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <ion-refresher pulling-text="Pull to refresh.." on-refresh="doRefresh()"></ion-refresher>
    <h4>Pending requests</h4>
    <div ng-show="!profile.waiting.length">Vous n'avez pas de demandes</div>
    <div class="list card" ng-hide="!profile.waiting.length"  ng-repeat="device in profile.waiting" >
      <div class="item">
        <h3 class="panel-title">Capteur :{{device.name}} </h3>
        SN: {{device.serial}} - Description: {{device.description}}
        <button type="button" ng-click="cancel(device)" class="btn-default pull-right">Cancel request</button>
      </div>
    </div>

    <h4>Requests</h4>
    <div ng-show="!profile.waitlist.length">Vous n'avez pas de demandes en cours</div>
    <div class="list card" ng-hide="!profile.waitlist.length"  ng-repeat="device in profile.waitlist">
      <div class="item">
        <h3 class="panel-title">Ajouter un follower :{{device.user.name}}</h3>
        {{device.device.name}} / {{device.device.serial}} / {{device.device.description}}
        <button type="button" ng-click="cancelR(device)" class="btn-default pull-right">Delete request</button>
        <button type="button" ng-click="confirm(device)" class="btn-primary pull-right">Confirm</button>
      </div>
    </div>
  </ion-content>
</ion-view>
