<ion-view view-title="Dashboard">
  <ion-nav-buttons side="primary">
    <button class="button ion-android-exit button-stable" ng-click="logout()">
    </button>
  </ion-nav-buttons>

  <ion-content class="padding">
    <ion-refresher pulling-text="Pull to refresh.." on-refresh="doRefresh()"></ion-refresher>
      <ion-list>
      </ion-list>
    <div ng-if="!notif()">Vous n'avez pas de notifications</div>
    <div ng-if="notif()" id="map-canvas">
      <ui-gmap-google-map center="map.center" zoom="map.zoom">
        <ui-gmap-markers models="points" coords="'coords'" options="'options'" events="'events'">
        </ui-gmap-markers>
        <ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" visible='p.visible'
                          fit="false" editable="p.editable">
        </ui-gmap-polyline>
      </ui-gmap-google-map>
    </div>
    <div ng-show="notif()" ng-repeat="watch in profile.watchs" >

      <div ng-if="watch.device.group[0]!='GPS'">
        <div  ng-repeat="stream in watch.device.streams" ng-hide="stream.lastValue == null
      || stream.name=='Latitude' || stream.name=='command' || stream.name=='downlinkFcnt' || stream.name=='battery'" >

          <div class="panel panel-default">
            <div class="panel-body">
              <a href="#">
                <img src="assets/images/iot.jpg" width="50" height="50" class="img-circle tt">
                <h2 class="panel-title">Device :{{watch.device.name}}</h2>
              </a>
            </div>
            <div ng-if="watch.device.group=='LORA' && stream.name=='message'" lora-reader="stream.lastValue"></div>
            <div ng-if="watch.device.group!='GPS' && device.device.group!='LORA'" ng-repeat="value in stream.values">
              {{stream.name}} valeur : {{value.value}} le {{value.time | date:'dd.MM.yyyy à HH:mm:ss'}}
            </div>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
