.pullframe {
  background: none repeat scroll 0% 0% #f5f5f5;
}
.sidebar{
  position: relative;
  padding: 18px;
  margin-bottom: 24px;
  background: none repeat scroll 0% 0% #2d3d77;
}
.ff{
  margin-top: 4px;
  background: none repeat scroll 0% 0% #fff;
}
