<ion-view view-title="Profil">
  <ion-nav-buttons side="primary">
    <button class="button ion-android-exit" ng-click="logout()">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh.." on-refresh="doRefresh()"></ion-refresher>
    <ion-list>
      <a class="item item-icon-right" href="#"><i class="icon ion-gear-a"></i>Settings</a>
      <ion-toggle ng-model="geolocationSetting" ng-change="changeGeolocationSetting(geolocationSetting)" toggle-class="toggle-calm">Tracking Mode</ion-toggle>
      <a class="item">
        <div class="item item-avatar">
        <img ng-src="http://localhost:9000/api/users/avatar/{{currentUser().avatar}}">
      </div></a>

      <a class="item" href="/tab/devices">
        <span class="badge badge-positive">{{profile.watchs.length}}</span>
        <span ng-if="profile.waiting.length" class="badge">{{profile.waiting.length}}</span>Devices</a>
      <a class="item">
        <i class="icon ion-person-stalker"></i>
        <span class="badge badge-balanced">{{profile.accepted.length}}</span>
        <span ng-if="profile.waitlist.length" class="badge badge-assertive">{{profile.waitlist.length}}</span>Followers</a>
      <a class="item">
        <i class="icon ion-person-stalker"></i>
        <span class="badge badge-balanced">{{followings.length}}</span>Following
      </a>
    </ion-list>

  </ion-content>
</ion-view>
