.info {
  border: dashed;
  margin-inside: auto;
}

.red {
  display: block;
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #ca0c18;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.green {
  display: block;
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #09990d;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
