<ion-view view-title="DAscent" name="login-view">

  <ion-content class="padding">
    <img class="center" src="img/yeoman.png" width="300">
    <form class="form" name="form" ng-submit="login(form)" novalidate>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="email" name="email" placeholder="Username" ng-model="user.email">
      </label>
      <label class="item item-input">
        <input type="password" name="password"  placeholder="Password" ng-model="user.password">
      </label>
    </div>
    <button class="button button-block button-positive" type="submit">Login</button>
  </form>
  </ion-content>

</ion-view>
